<h2>Busquedas</h2>
<hr>
<ul class="list-group">
    <li routerLink=""
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
        class="list-group-item"
    >
        Personajes
    </li>
    
    <li routerLink="estudiantes"
        routerLinkActive="active"
        class="list-group-item"
    >
        Estudiantes
    </li>

    <li routerLink="profesores"
        routerLinkActive="active"
        class="list-group-item"
    >
        Profesores
    </li>
</ul>
